@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@layer base {

  html,
  body {
    @apply antialiased bg-[#0f172a] text-slate-100;
    font-family: 'Outfit', sans-serif;
  }
}